<footer>
  <div class="footer-container">
     <% const today = new Date(); %>
     <% let currentYear = today.getFullYear();  %>
    <p>© <%= currentYear %> Company, Inc. All rights reserved.</p>
  </div>
</footer>
