<%- include("partials/header.ejs") %>

<h1 style="margin-top: 50px">The Blogosphere Chronicles</h1>
<h5 style="margin-top: 20px"><span>EXPLORE DISCOVER CONNECT</span></h5>

<form method="post" action="/submit">
  <div class="homepage-button">
    <input type="submit" value="CREATE YOUR BLOG" />
  </div>
</form>

<!-- <div>
  <p>Recent posts</p>
</div> -->

<div class="blog-container">
  <!-- BLOG 1  ------------------------------------>

  <div class="blog-1">
    <div class="img-1">
      <img
        src="../public/images/adventure.jpg"
        alt="man standing on mountain top"
        height="100px"
      />
    </div>

    <div title-1>
      <h5>6 Must-Visit Destinations for Outdoor Enthusiasts</h5>
    </div>

    <div class="content-1">
      <p>
        In this blog post, we've curated a list of six must-visit destinations
        that will ignite your sense of adventure and leave you in awe of the
        wonders of the great outdoors. From rugged mountain trails to pristine
        beaches, each destination offers a unique blend of excitement and
        serenity, promising unforgettable moments and cherished memories.
      </p>
    </div>
  </div>

  <!-- BLOG 2  ------------------------------------>

  <div class="blog-1">
    <div class="img-1">
      <img
        src="../public/images/adventure.jpg"
        alt="man standing on mountain top"
        height="100px"
      />
    </div>

    <div title-1>
      <h5>6 Must-Visit Destinations for Outdoor Enthusiasts</h5>
    </div>

    <div class="content-1">
      <p>
        In this blog post, we've curated a list of six must-visit destinations
        that will ignite your sense of adventure and leave you in awe of the
        wonders of the great outdoors. From rugged mountain trails to pristine
        beaches, each destination offers a unique blend of excitement and
        serenity, promising unforgettable moments and cherished memories.
      </p>
    </div>
  </div>

  <!-- BLOG 3  ------------------------------------>

  <div class="blog-1">
    <div class="img-1">
      <img
        src="../public/images/adventure.jpg"
        alt="man standing on mountain top"
        height="100px"
      />
    </div>

    <div title-1>
      <h5>6 Must-Visit Destinations for Outdoor Enthusiasts</h5>
    </div>

    <div class="content-1">
      <p>
        In this blog post, we've curated a list of six must-visit destinations
        that will ignite your sense of adventure and leave you in awe of the
        wonders of the great outdoors. From rugged mountain trails to pristine
        beaches, each destination offers a unique blend of excitement and
        serenity, promising unforgettable moments and cherished memories.
      </p>
    </div>
  </div>
</div>
