<%- include("partials/header.ejs") %>

<div class="title-home">
  <h1>Create Connect Customise</h1>
  <br />
</div>

<div class="heading-home">
  <h3>Your Blogging Journey</h3>
  <!-- <p>Your Blogging Journey</p> -->
</div>

<div class="button-home">
  <form action="/form" method="POST">
    <label for="createBlog"></label>
    <input type="submit" value="CREATE YOUR BLOG" id="createBlog" />
  </form>
</div>

<div class="recent-posts-home">
  <h3><span>Recent Posts</span></h3>
</div>

<div class="blogs-container">
  <!-- Image 1 -------------------->
  <div class="blog1-conatiner">
    <div class="adventure-img">
      <img src="images/adventure.jpg" alt="man on an adventure" />
    </div>

    <!-- Blog 1 text ------------------->
    <div class="adventure-text">
      <span>6 Must-Visit Destinations for Outdoor Enthusiasts</span>
      <p>
        In this blog post, we've curated a list of six must-visit destinations
        that will ignite your sense of adventure and leave you in awe of the
        wonders of the great outdoors. From rugged mountain trails to pristine
        beaches, each destination offers a unique blend of excitement and
        serenity, promising unforgettable moments and cherished memories.
      </p>
      <a
        href="https://www.joinmytrip.com/blog/en/the-best-nature-travel-destinations-for-outdoor-fans/"
        >Read more</a
      >
    </div>
  </div>

  <!-- Image 2 ------------------->
  <div class="blog2-conatiner">
    <div class="adventure-img">
      <img src="images/adventure.jpg" alt="man on an adventure" />
    </div>

    <!-- Blog 2 text -------------------->
    <div class="health-text">
      <span>6 Must-Visit Destinations for Outdoor Enthusiasts</span>
      <p>
        In this blog post, we've curated a list of six must-visit destinations
        that will ignite your sense of adventure and leave you in awe of the
        wonders of the great outdoors. From rugged mountain trails to pristine
        beaches, each destination offers a unique blend of excitement and
        serenity, promising unforgettable moments and cherished memories.
      </p>
      <a
        href="https://www.joinmytrip.com/blog/en/the-best-nature-travel-destinations-for-outdoor-fans/"
        >Read more</a
      >
    </div>
  </div>

  <!-- Image 3 -------------------------->
  <div class="blog3-conatiner">
    <div class="adventure-img">
      <img src="images/adventure.jpg" alt="man on an adventure" />
    </div>

    <!-- Blog 3 text -------------------->
    <div class="adventure-text">
      <span>6 Must-Visit Destinations for Outdoor Enthusiasts</span>
      <p>
        In this blog post, we've curated a list of six must-visit destinations
        that will ignite your sense of adventure and leave you in awe of the
        wonders of the great outdoors. From rugged mountain trails to pristine
        beaches, each destination offers a unique blend of excitement and
        serenity, promising unforgettable moments and cherished memories.
      </p>
      <a
        href="https://www.joinmytrip.com/blog/en/the-best-nature-travel-destinations-for-outdoor-fans/"
        >Read more</a
      >
    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
